name: CI Pipeline

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  test:
    runs-on: ubuntu-latest
    

    steps:
      
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v4 
        with: 
          python-verion: '3.10'

      - name: Install Dependencies 
        run: |
          pip install -r backend/requirements.txt
      
      - name: Lint Code
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --show-source --statistics

      - name: Run Tests
        run: |
          pytest 
  
  build-and-push:
    runs-on: ubuntu:latest
    needs: test
    if: github.ref == 'refs/heads/main'

    steps:

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Github Container Registery
        uses: docker/login-action@v2
        with:
          registery: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/devops-backend:latest
            ghcr.io/${{ github.repository_owner }}/devops-backend:${{ github.sha }}